body {
    box-sizing: border-box;
    font-family: sans-serif;
    background: #F5F5F5;
}

.header {
    background-color: #0050B3;
    padding-top: 8px;
    padding-bottom: 8px; 
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.search {
    max-width: 336px;
    height: 32px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    padding: 5px 30px 5px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background: #FFFFFF url(../images/Search-icon.svg) no-repeat  center right 10px  ;
}

.navigation-block {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center; 
}

.user-name {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 8px;
}

.navigation-panel {
    display: flex;
    align-items: center;
}

.navigation-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 13px;
    text-decoration: none;
    
}

.navigation-link::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
    align-items: center;
}

.navigation-link:last-child::after {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}

.icons-panel {
    display: flex;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.icon-link:last-child::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.header-icon {
    fill:#002766

}

.header-icon:hover {
    fill: #FFFFFF;
}

.container {
    display: flex;
    
    max-width: 1200px;
    margin: auto;
}

.menu-sidebar {
    max-width: 192px;
    margin-top: 18px;
    padding: 10px;
}

.menu-sidebar .user {
    
    padding-left: 10px;
}

.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name {
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #262626 ;
}

.nav-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 24px;
    
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 4px 8px;
    border-radius: 4px;
}

.nav-link.active {
    background: #FFFFFF;
    color: #262626
}
.nav-text {
    margin-left: 8px;
}

.nav-title {
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 4px;
}

.main-feed {
    
    max-width: 588px;
}

.create-post {
   
    max-width: 588px;
    /* background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */
}
.title-feed {
    font-size: 14px;
    line-height: 22px;
    padding-left: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0;
}

.create-post-body {
    display: flex;
    align-items: center;
}