body {
    box-sizing: border-box;
    font-family:sans-serif;
    background: #F5F5F5;
    
}

.header {
    background-color: #0050B3;
    padding-top: 8px;
    padding-bottom: 8px; 
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.search {
    max-width: 336px;
    height: 32px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    padding: 5px 30px 5px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background: #FFFFFF url(../images/Search-icon.svg) no-repeat  center right 10px  ;
}

.navigation-block {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center; 
}

.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 8px;
}

.navigation-panel {
    display: flex;
    align-items: center;
}

.navigation-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 13px;
    text-decoration: none;
    
}

.navigation-link::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
    align-items: center;
}

.navigation-link:last-child::after {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}

.icons-panel {
    display: flex;
    align-items: center;
}

.icon-link {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #F5222D;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    font-size: 14px;
    color: #FFFFFF;
    top:-8px;
    right: -10px;
    
 }

.icon-link:last-child::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.icon-link:last-child::after {
content:'';
border: 8px solid transparent; 
border-top: 8px solid #002766;
margin-left: 8px;
margin-top: 8px;


}
.header-icon {
    fill:#002766

}

.header-icon:hover {
    fill: #FFFFFF;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.menu-sidebar {
    max-width: 192px;
    margin-top: 16px;
    padding: 10px;
}

.menu-sidebar .user {
    
    padding-left: 10px;
}

.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
    

}

.menu-sidebar .user-name {
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #262626 ;
}

.nav-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 24px;
    
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 4px 8px;
    border-radius: 4px;
}

.nav-link.active {
    background: #FFFFFF;
    color: #262626
}

.nav-text-drob {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #1890FF;
    padding: 4px 8px;
    border-radius: 4px;
   
}



.nav-text {
    margin-left: 8px;
}

.nav-text-drob::before {
    content:'';
    border: 8px solid transparent; 
    border-top: 10px solid #BFBFBF;
    align-items: center;
    margin-right: 8px;
    margin-left: 4px;
    margin-top: 8px;
   


}

.nav-title {
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 4px;
}

.main-feed {    
    max-width: 588px;
    width: 100%;
    margin: 16px 24px 16px 18px;
   
}

.create-post {
    
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
}

.create-post-header {
    padding: 9px 16px;   
    background: #F5F5F5;
    border-bottom: 1px solid #D9D9D9
}
.create-post-title {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin: 0;
}

.create-post-body {
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-right: 16px;
    
}

.create-post-body .user-avatar {
    width: 40px;
    height: 40px;
}

.create-post-input {
    font-size: 16px;
    line-height: 24px;
    outline: none;
    padding-left: 16px;
    padding-top: 8px;
    width: 90%;
    word-wrap: break-word;
    overflow-x: hidden;
    
}

.create-post-footer {
    display: flex;
    padding: 0  16px 16px 16px;
    flex-wrap: wrap;
    
}
.post-text {
    font-weight: 600;
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.tag {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-right: 8px;
    background: #F5F5F5;
    border-radius: 48px;
    padding: 9px 12px;
    border:none;
    
}

.create-post-footer::before {
    content: '';
    margin-bottom: 16px;
    height: 1px;
    width: 100%;
    background-color: #E8E8E8; 
   

}